@charset "UTF-8";
@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
@keyframes test-animation {
  from {
    transform: translate(0, 30px);
  }
  to {
    transform: translate(0, 0);
  }
}
@keyframes dot-animation {
  from {
    transform: translate(100px, 0px);
  }
  to {
    transform: translate(0, 0);
  }
}
/* Common */
/* --------------------------------------- */
body {
  font-family: Pretendard, "Noto Sans KR", sans-serif !important;
  color: #545f72;
}
body .highlight {
  color: #466dfd;
}
body .bold {
  font-weight: 500;
}
body .header-title {
  position: absolute;
  top: 50px;
  left: 80px;
  color: #cecece;
  font-weight: 700;
}
body .page-count {
  position: absolute;
  bottom: 50px;
  left: 80px;
  color: #cecece;
  font-weight: 700;
}

/* Overwriting styles for navigation bullets
* --------------------------------------- */
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  opacity: 0.3;
}

/* fullpage.
* --------------------------------------- */
#fullpage .content_wrap {
  margin: 0 auto;
  width: 1200px;
  height: 100%;
}

/* Home Section.
* --------------------------------------- */
#fullpage .section.home {
  background-image: url("../img/home_background_test.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
#fullpage .section.home .content_wrap {
  position: relative;
}
#fullpage .section.home .dot-img {
  position: absolute;
  right: 65px;
  top: -30px;
  width: 250px;
  height: 250px;
  background-image: url("../img/dot.png");
  background-repeat: no-repeat;
  background-size: contain;
  /* 애니메이션 적용 */
  animation: dot-animation 0.7s linear;
  animation-duration: 700ms;
  transition-duration: 1s;
}
#fullpage .section.home .title-area {
  position: absolute;
  top: 70px;
  /* 애니메이션 적용 */
  animation: test-animation 0.1s linear;
  animation-duration: 700ms;
}
#fullpage .section.home .title-area .sub-title {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 10px;
}
#fullpage .section.home .title-area .title {
  font-weight: 900;
  font-size: 80px;
  margin-bottom: 90px;
}
#fullpage .section.home .title-area .title span.highlight {
  font-size: 90px;
}
#fullpage .section.home .title-area .description {
  font-weight: 500;
  font-size: 20px;
}
#fullpage .section.home .title-area .description p {
  display: inline-block;
  padding-bottom: 2px;
  border-bottom: 1px solid;
}
#fullpage .section.home .title-area .description p span.bold {
  font-weight: 900;
}
#fullpage .section.home .title-area .description p span.highlight {
  font-size: 30px;
}
#fullpage .section.home .bottom-area {
  position: absolute;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  bottom: 50px;
}
#fullpage .section.home .bottom-area .copyright {
  font-weight: 500;
  font-size: 12px;
}
#fullpage .section.home .bottom-area .info {
  display: flex;
}
#fullpage .section.home .bottom-area .info .item {
  text-align: right;
  margin-left: 20px;
}
#fullpage .section.home .bottom-area .info .item .title {
  color: #466dfd;
  font-weight: 900;
  font-size: 16px;
  margin-bottom: 20px;
}
#fullpage .section.home .bottom-area .info .item ul li {
  font-size: 14px;
  margin-bottom: 6px;
}

/* Intro Section.
* --------------------------------------- */
#fullpage .section.intro {
  background-image: url("../img/intro_background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}
#fullpage .section.intro .content_wrap {
  position: relative;
}
#fullpage .section.intro .content_wrap .column-wrap {
  position: absolute;
  top: 90px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#fullpage .section.intro .content_wrap .column .main-title {
  font-weight: 900;
  font-size: 40px;
  line-height: 50px;
  margin-top: -7px;
}
#fullpage .section.intro .content_wrap .column .main-title .highlight {
  font-size: 50px;
}
#fullpage .section.intro .content_wrap .column .main-title .line {
  background: linear-gradient(to top, #e6e8e9 50%, transparent 50%);
}
#fullpage .section.intro .content_wrap .column .info {
  margin-top: 130px;
}
#fullpage .section.intro .content_wrap .column .info .name {
  font-weight: 900;
  font-size: 25px;
}
#fullpage .section.intro .content_wrap .column .info .age {
  font-weight: 500;
  font-size: 16px;
  margin-top: 10px;
}
#fullpage .section.intro .content_wrap .column .info .more {
  font-weight: 500;
  font-size: 16px;
  margin-top: 90px;
}
#fullpage .section.intro .content_wrap .column .info .more ul li {
  margin-top: 6px;
}
#fullpage .section.intro .content_wrap .column .column-item {
  margin-bottom: 55px;
}
#fullpage .section.intro .content_wrap .column .column-item .title {
  color: #466dfd;
  font-size: 16px;
  font-weight: 900;
  margin-bottom: 25px;
}
#fullpage .section.intro .content_wrap .column .column-item .content {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
}
#fullpage .section.intro .content_wrap .column .column-item .content .date {
  font-weight: 400;
  margin-top: 10px;
  color: #c6c6c6;
}

/* Experience Section.
* --------------------------------------- */
#fullpage .section.experience {
  background-image: url("../img/experience_background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
#fullpage .section.experience .slider-wrap {
  position: relative;
  margin-top: 170px;
}
#fullpage .section.experience .slider-wrap .slick-arrow {
  top: 40%;
  z-index: 1;
  position: absolute;
  width: 75px;
  height: 30px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  cursor: pointer;
  border: none;
}
#fullpage .section.experience .slider-wrap .slick-arrow.slick-prev {
  left: 0px;
  background-image: url("../img/prev.png");
}
#fullpage .section.experience .slider-wrap .slick-arrow.slick-next {
  left: 140px;
  background-image: url("../img/next.png");
}
#fullpage .section.experience .slider-wrap .slick-dots {
  position: absolute;
  top: 41%;
  left: 90px;
  font-size: 16px;
  color: #b1b5ba;
}
#fullpage .section.experience .slider-wrap .slick-dots li {
  display: none;
}
#fullpage .section.experience .slider-wrap .slick-dots li.slick-active {
  display: block;
}
#fullpage .section.experience .slider-wrap .slide-item {
  display: flex;
}
#fullpage .section.experience .slider-wrap .slide-item .row.row-left {
  width: 400px;
  font-weight: 900;
}
#fullpage .section.experience .slider-wrap .slide-item .row.row-left .num {
  font-size: 50px;
  color: #d1d8df;
}
#fullpage .section.experience .slider-wrap .slide-item .row.row-left .name {
  font-size: 32px;
  margin-top: 15px;
}
#fullpage .section.experience .slider-wrap .slide-item .row.row-left .job {
  font-size: 17px;
  margin-top: 20px;
}
#fullpage .section.experience .slider-wrap .slide-item .row.row-left .date {
  font-weight: 500;
  font-size: 17px;
  margin-top: 8px;
}
#fullpage .section.experience .slider-wrap .slide-item .row.row-right .title {
  display: inline-block;
  font-weight: 700;
  font-size: 35px;
  background: linear-gradient(to top, #c7ccd3 50%, transparent 50%);
}
#fullpage .section.experience .slider-wrap .slide-item .row.row-right .date {
  font-size: 17px;
  color: #b1b5ba;
  margin-top: 10px;
}
#fullpage .section.experience .slider-wrap .slide-item .row.row-right .skill-list {
  margin-top: 30px;
  margin-bottom: 60px;
}
#fullpage .section.experience .slider-wrap .slide-item .row.row-right .skill-list ul {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
}
#fullpage .section.experience .slider-wrap .slide-item .row.row-right .skill-list ul li {
  font-weight: 700;
  font-size: 14px;
  padding: 5px 15px;
  background-color: #ced4de;
  border-radius: 20px;
  margin-right: 10px;
  margin-bottom: 10px;
}
#fullpage .section.experience .slider-wrap .slide-item .row.row-right .column-item {
  display: flex;
  margin-bottom: 90px;
}
#fullpage .section.experience .slider-wrap .slide-item .row.row-right .column-item .sub-title {
  width: 160px;
  font-weight: 900;
  font-size: 18px;
  color: #466dfd;
}
#fullpage .section.experience .slider-wrap .slide-item .row.row-right .column-item .text {
  font-weight: 300;
  width: 500px;
}
#fullpage .section.experience .slider-wrap .slide-item .row.row-right .column-item .text p {
  line-height: 23px;
}

/* More Section.
* --------------------------------------- */
#fullpage .section.more {
  background-image: url("../img/more_background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
#fullpage .section.more .content_wrap {
  position: relative;
}
#fullpage .section.more .main-title {
  position: absolute;
  bottom: 120px;
  font-weight: 900;
  font-size: 30px;
  line-height: 40px;
}
#fullpage .section.more .main-title .line {
  background: linear-gradient(to top, #e1e3e4 50%, transparent 50%);
}
#fullpage .section.more .main-title .thumb-up {
  position: absolute;
  top: -35%;
  right: 2%;
}
#fullpage .section.more .view-wrap {
  position: absolute;
  top: 90px;
  right: 0;
  display: flex;
  justify-content: flex-end;
}
#fullpage .section.more .view-wrap .view-item {
  position: relative;
  width: 350px;
  height: 310px;
  margin-left: 90px;
  margin-bottom: 60px;
}
#fullpage .section.more .view-wrap .view-item .img {
  position: absolute;
}
#fullpage .section.more .view-wrap .view-item .img.puzzle {
  top: -30%;
  left: 45%;
}
#fullpage .section.more .view-wrap .view-item .img.laptop {
  bottom: -35%;
  left: 45%;
}
#fullpage .section.more .view-wrap .view-item .img.pin {
  bottom: -20%;
  left: -35%;
}
#fullpage .section.more .view-wrap .view-item .img.rocket {
  top: 10%;
  left: -110%;
}
#fullpage .section.more .view-wrap .view-item .img.pencil {
  top: 40%;
  left: -25%;
}
#fullpage .section.more .view-wrap .view-item .img.book {
  top: 30%;
  left: -40%;
}
#fullpage .section.more .view-wrap .view-item .img.phone {
  top: 45%;
  right: -45%;
}
#fullpage .section.more .view-wrap .view-item.wide {
  width: 460px;
}
#fullpage .section.more .view-wrap .view-item .sub-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3;
  margin-bottom: 30px;
}
#fullpage .section.more .view-wrap .view-item .contents {
  color: #c6c6c6;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.3;
}
#fullpage .section.more .view-wrap .view-item .view-blog {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100px;
  height: 50px;
  background-image: url("../img/view_blog.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  cursor: pointer;
}
#fullpage .section.more .view-wrap .view-item .view-blog span {
  position: absolute;
  right: 0;
  bottom: 10px;
  font-weight: 300;
  color: #c6c6c6;
  font-size: 15px;
}
#fullpage .section.more .view-wrap .view-item .view-blog :hover {
  color: #545f72;
  transition: all 0.3s;
}

/* ThankYou Section.
* --------------------------------------- */
#fullpage .section.thankyou {
  background-image: url("../img/thankyou_background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
#fullpage .section.thankyou .content_wrap {
  position: relative;
}
#fullpage .section.thankyou .title {
  position: absolute;
  top: 90px;
  font-weight: 900;
  font-size: 55px;
  margin-bottom: 90px;
}
#fullpage .section.thankyou .title span.highlight {
  font-size: 65px;
}
#fullpage .section.thankyou .info {
  position: absolute;
  right: 0;
  bottom: 40px;
  text-align: right;
}
#fullpage .section.thankyou .info ul li {
  font-size: 14px;
  margin-bottom: 6px;
  font-weight: 900;
}

/*# sourceMappingURL=style.css.map */
