@import "reset.css";
// Noto Sans KR
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
// Pretendard
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

@keyframes test-animation {
  from {
    transform: translate(0, 30px);
  }
  to {
    transform: translate(0, 0);
  }
}

@keyframes dot-animation {
  from {
    transform: translate(100px, 0px);
  }
  to {
    transform: translate(0, 0);
  }
}

/* Common */
/* --------------------------------------- */
body {
  font-family: Pretendard, "Noto Sans KR", sans-serif !important;
  color: #545f72;

  .highlight {
    color: #466dfd;
  }

  .bold {
    font-weight: 500;
  }

  .header-title {
    position: absolute;
    top: 50px;
    left: 80px;
    color: #cecece;
    font-weight: 700;
  }

  .page-count {
    position: absolute;
    bottom: 50px;
    left: 80px;
    color: #cecece;
    font-weight: 700;
  }
}

/* Overwriting styles for navigation bullets
* --------------------------------------- */
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  opacity: 0.3;
}

/* fullpage.
* --------------------------------------- */
#fullpage {
  .content_wrap {
    margin: 0 auto;
    width: 1200px;
    height: 100%;
  }
}

/* Home Section.
* --------------------------------------- */
#fullpage .section.home {
  background-image: url("../img/home_background_test.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  .content_wrap {
    position: relative;
  }

  .dot-img {
    position: absolute;
    right: 65px;
    top: -30px;
    width: 250px;
    height: 250px;
    background-image: url("../img/dot.png");
    background-repeat: no-repeat;
    background-size: contain;
    /* 애니메이션 적용 */
    animation: dot-animation 0.7s linear;
    animation-duration: 700ms;
    transition-duration: 1s;
  }

  .title-area {
    position: absolute;
    top: 70px;
    /* 애니메이션 적용 */
    animation: test-animation 0.1s linear;
    animation-duration: 700ms;

    .sub-title {
      font-weight: 500;
      font-size: 18px;
      margin-bottom: 10px;
    }

    .title {
      font-weight: 900;
      font-size: 80px;
      margin-bottom: 90px;

      span.highlight {
        font-size: 90px;
      }
    }

    .description {
      font-weight: 500;
      font-size: 20px;

      p {
        display: inline-block;
        padding-bottom: 2px;
        border-bottom: 1px solid;

        span.bold {
          font-weight: 900;
        }

        span.highlight {
          font-size: 30px;
        }
      }
    }
  }

  .bottom-area {
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    bottom: 50px;

    .copyright {
      font-weight: 500;
      font-size: 12px;
    }

    .info {
      display: flex;
      .item {
        text-align: right;
        margin-left: 20px;

        .title {
          color: #466dfd;
          font-weight: 900;
          font-size: 16px;
          margin-bottom: 20px;
        }
        ul li {
          font-size: 14px;
          margin-bottom: 6px;
        }
      }
    }
  }
}

/* Intro Section.
* --------------------------------------- */
#fullpage .section.intro {
  background-image: url("../img/intro_background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;

  .content_wrap {
    position: relative;

    .column-wrap {
      position: absolute;
      top: 90px;
      width: 100%;
      display: flex;
      justify-content: space-between;
    }

    .column {
      .main-title {
        font-weight: 900;
        font-size: 40px;
        line-height: 50px;
        margin-top: -7px;
        .highlight {
          font-size: 50px;
        }

        // 형광펜 효과
        .line {
          background: linear-gradient(to top, #e6e8e9 50%, transparent 50%);
        }
      }

      .info {
        margin-top: 130px;
        .name {
          font-weight: 900;
          font-size: 25px;
        }
        .age {
          font-weight: 500;
          font-size: 16px;
          margin-top: 10px;
        }
        .more {
          font-weight: 500;
          font-size: 16px;
          margin-top: 90px;
          ul li {
            margin-top: 6px;
          }
        }
      }

      .column-item {
        margin-bottom: 55px;
        .title {
          color: #466dfd;
          font-size: 16px;
          font-weight: 900;
          margin-bottom: 25px;
        }

        .content {
          font-size: 16px;
          font-weight: 500;
          margin-bottom: 20px;
          .date {
            font-weight: 400;
            margin-top: 10px;
            color: #c6c6c6;
          }
        }
      }
    }
  }
}

/* Experience Section.
* --------------------------------------- */
#fullpage .section.experience {
  background-image: url("../img/experience_background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  .content_wrap {
    // position: relative;
  }

  .slider-wrap {
    position: relative;
    margin-top: 170px;
    // button
    .slick-arrow {
      top: 40%;
      z-index: 1;
      position: absolute;
      width: 75px;
      height: 30px;
      background-color: transparent;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      cursor: pointer;
      border: none;

      &:hover {
        // background-color: #545f72;
        // border-radius: 10%;
        // transition: all 0.3s;
      }

      &.slick-prev {
        left: 0px;
        background-image: url("../img/prev.png");
      }
      &.slick-next {
        left: 140px;
        background-image: url("../img/next.png");
      }
    }

    // paging
    .slick-dots {
      position: absolute;
      top: 41%;
      left: 90px;
      font-size: 16px;
      color: #b1b5ba;

      li {
        display: none;
        &.slick-active {
          display: block;
        }
      }
    }

    .slide-item {
      display: flex;
      .row {
        &.row-left {
          width: 400px;
          font-weight: 900;
          .num {
            font-size: 50px;
            color: #d1d8df;
          }
          .name {
            font-size: 32px;
            margin-top: 15px;
          }
          .job {
            font-size: 17px;
            margin-top: 20px;
          }
          .date {
            font-weight: 500;
            font-size: 17px;
            margin-top: 8px;
          }
        }

        &.row-right {
          .title {
            display: inline-block;
            font-weight: 700;
            font-size: 35px;
            // 형광펜 효과
            background: linear-gradient(to top, #c7ccd3 50%, transparent 50%);
          }
          .date {
            font-size: 17px;
            color: #b1b5ba;
            margin-top: 10px;
          }

          .skill-list {
            margin-top: 30px;
            margin-bottom: 60px;
            ul {
              display: flex;
              flex-wrap: wrap;
              width: 400px;
              li {
                font-weight: 700;
                font-size: 14px;
                padding: 5px 15px;
                background-color: #ced4de;
                border-radius: 20px;
                margin-right: 10px;
                margin-bottom: 10px;
              }
            }
          }

          .column-item {
            display: flex;
            margin-bottom: 90px;

            .sub-title {
              width: 160px;
              font-weight: 900;
              font-size: 18px;
              color: #466dfd;
            }
            .text {
              font-weight: 300;
              width: 500px;
              p {
                line-height: 23px;
              }
            }
          }
        }
      }
    }
  }
}

/* More Section.
* --------------------------------------- */
#fullpage .section.more {
  background-image: url("../img/more_background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  .content_wrap {
    position: relative;
    // margin-top: 100px;
    // width: 100%;
  }
  .main-title {
    position: absolute;
    bottom: 120px;
    font-weight: 900;
    font-size: 30px;
    line-height: 40px;

    .line {
      // 형광펜 효과
      background: linear-gradient(to top, #e1e3e4 50%, transparent 50%);
    }

    .thumb-up {
      position: absolute;
      // right: 10px;
      // top: -70px;
      top: -35%;
      right: 2%;
    }
  }

  .view-wrap {
    position: absolute;
    top: 90px;
    right: 0;
    display: flex;
    justify-content: flex-end;

    .view-item {
      position: relative;
      width: 350px;
      height: 310px;
      margin-left: 90px;
      margin-bottom: 60px;

      // 이미지
      .img {
        position: absolute;

        &.puzzle {
          // top: -100px;
          // left: 210px;
          top: -30%;
          left: 45%;
        }

        &.laptop {
          // bottom: -100px;
          // left: 220px;
          bottom: -35%;
          left: 45%;
        }

        &.pin {
          // bottom: -60px;
          // left: -160px;
          bottom: -20%;
          left: -35%;
        }

        &.rocket {
          // top: 30px;
          // left: -500px;
          top: 10%;
          left: -110%;
        }

        &.pencil {
          // top: 130px;
          // left: -90px;
          top: 40%;
          left: -25%;
        }
        &.book {
          // top: 90px;
          // left: -150px;
          top: 30%;
          left: -40%;
        }
        &.phone {
          // top: 140px;
          // right: -150px;
          top: 45%;
          right: -45%;
        }
      }

      &.wide {
        width: 460px;
      }

      .sub-title {
        font-weight: 700;
        font-size: 18px;
        line-height: 1.3;
        margin-bottom: 30px;
      }
      .contents {
        color: #c6c6c6;
        font-weight: 300;
        font-size: 16px;
        line-height: 1.3;
      }

      .view-blog {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 100px;
        height: 50px;
        background-image: url("../img/view_blog.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: left;
        cursor: pointer;
        span {
          position: absolute;
          right: 0;
          bottom: 10px;
          font-weight: 300;
          color: #c6c6c6;
          font-size: 15px;
        }

        :hover {
          color: #545f72;
          transition: all 0.3s;
        }
      }
    }
  }
}

/* ThankYou Section.
* --------------------------------------- */
#fullpage .section.thankyou {
  background-image: url("../img/thankyou_background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  .content_wrap {
    position: relative;
  }

  .title {
    position: absolute;
    top: 90px;
    font-weight: 900;
    font-size: 55px;
    margin-bottom: 90px;

    span.highlight {
      font-size: 65px;
    }
  }

  .info {
    position: absolute;
    right: 0;
    bottom: 40px;
    text-align: right;

    ul li {
      font-size: 14px;
      margin-bottom: 6px;
      font-weight: 900;
    }
  }
}
