@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

@keyframes test-animation {
  from {
    transform: translate(0, 30px);
  }
  to {
    transform: translate(0, 0);
  }
}

@keyframes dot-animation {
  from {
    transform: translate(100px, 0px);
  }
  to {
    transform: translate(0, 0);
  }
}

/* Common */
body {
  font-family: "Noto Sans KR", sans-serif;
  color: #545f72;

  .highlight {
    color: #466dfd;
  }
}

/* Overwriting styles for navigation bullets
* --------------------------------------- */
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  opacity: 0.3;
}

/* fullpage.
* --------------------------------------- */
#fullpage {
  .content_wrap {
    margin: 0 auto;
    width: 1300px;
    height: 100%;
  }
}

/* Home Section.
* --------------------------------------- */
#fullpage .section.home {
  background-image: url("../img/home_background_test.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  .content_wrap {
    position: relative;
  }

  .dot-img {
    position: absolute;
    right: 65px;
    top: -30px;
    width: 250px;
    height: 250px;
    background-image: url("../img/dot.png");
    background-repeat: no-repeat;
    background-size: contain;
    /* 애니메이션 적용 */
    animation: dot-animation 0.7s linear;
    animation-duration: 700ms;
    transition-duration: 1s;
  }

  .title-area {
    position: absolute;
    top: 70px;
    /* 애니메이션 적용 */
    animation: test-animation 0.1s linear;
    animation-duration: 700ms;

    .sub-title {
      font-weight: 500;
      font-size: 18px;
      margin-bottom: 10px;
    }

    .title {
      font-weight: 800;
      font-size: 80px;
      margin-bottom: 90px;

      span.highlight {
        font-size: 90px;
      }
    }

    .description {
      font-weight: 500;
      font-size: 20px;

      p {
        display: inline-block;
        padding-bottom: 2px;
        border-bottom: 1px solid;

        span.bold {
          font-weight: 900;
        }

        span.highlight {
          font-size: 30px;
        }
      }
    }
  }

  .bottom-area {
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    bottom: 50px;

    .copyright {
      font-weight: 500;
      font-size: 12px;
    }

    .info {
      display: flex;
      .item {
        text-align: right;
        margin-left: 20px;

        .title {
          color: #466dfd;
          font-weight: 900;
          font-size: 16px;
          margin-bottom: 20px;
        }
        ul li {
          font-size: 14px;
          margin-bottom: 6px;
        }
      }
    }
  }
}

/* Intro Section.
* --------------------------------------- */
#fullpage .section.intro {
  background-image: url("../img/intro_background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;

  .header {
    position: absolute;
    top: 50px;
    left: 80px;
    color: #cecece;
    font-weight: 700;
  }

  .page-count {
    position: absolute;
    bottom: 50px;
    left: 80px;
    color: #cecece;
    font-weight: 700;
  }

  .content_wrap {
    position: relative;

    .column-wrap {
      position: absolute;
      top: 80px;
      width: 100%;
      display: flex;
      justify-content: space-between;
    }

    .column {
      .main-title {
        font-weight: 900;
        font-size: 40px;
        line-height: 50px;
        margin-top: -7px;
        .highlight {
          font-size: 50px;
        }

        // 형광펜 효과
        .line {
          background: linear-gradient(to top, #e6e8e9 50%, transparent 50%);
        }
      }

      .info {
        margin-top: 130px;
        .name {
          font-weight: 900;
          font-size: 25px;
        }
        .age {
          font-weight: 500;
          font-size: 16px;
          margin-top: 10px;
        }
        .more {
          font-weight: 500;
          font-size: 16px;
          margin-top: 90px;
          ul li {
            margin-top: 6px;
          }
        }
      }

      .column-item {
        margin-bottom: 55px;
        .title {
          color: #466dfd;
          font-size: 18px;
          font-weight: 900;
          margin-bottom: 25px;
        }

        .content {
          font-size: 16px;
          font-weight: 500;
          margin-bottom: 20px;
          .date {
            font-weight: 400;
            margin-top: 10px;
            color: #c6c6c6;
          }
        }
      }
    }
  }
}

/* ThankYou Section.
* --------------------------------------- */
#fullpage .section.thankyou {
  background-image: url("../img/thankyou_background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  .content_wrap {
    position: relative;
  }

  .title {
    position: absolute;
    top: 70px;
    font-weight: 800;
    font-size: 55px;
    margin-bottom: 90px;

    span.highlight {
      font-size: 65px;
    }
  }

  .info {
    position: absolute;
    right: 0;
    bottom: 40px;
    text-align: right;

    ul li {
      font-size: 14px;
      margin-bottom: 6px;
      font-weight: 900;
    }
  }
}
